<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LitigeoDbEntities" providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/LitigeoEntities.csdl|res://*/LitigeoEntities.ssdl|res://*/LitigeoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NS3118828\LITIGEO;initial catalog=LitigeoDb;persist security info=True;user id=sa;password=D:!2vX@Px;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="sender.email" value="contact@dtek.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	  <add key="CoreDomain.User.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Users/ServiceUserWeb.svc/api/users"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.Person.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Persons/ServicePersonWeb.svc/api/persons"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.ThirdPartEnterprise.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/ThirdParts/ServiceThirdPartEnterpriseWeb.svc/api/thirdparts"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.ThirdPartPerson.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/ThirdParts/ServiceThirdPartPersonWeb.svc/api/persons"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.ThirdPartContact.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/ThirdParts/ServiceThirdPartContactWeb.svc/api/contacts"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.AppLogger.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Applications/Logs/ServiceAppLogWeb.svc/api/applogs" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.EmailSender.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Emails/ServiceEmailManagerWeb.svc/api/emails" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.Activity.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Activities/ServiceActivityWeb.svc/api/activities" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.Agency.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Agencies/ServiceAgencyWeb.svc/api/agencies" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.AnalyticCode.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/AnalyticCodes/ServiceAnalyticCodeWeb.svc/api/analyticcodes" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.BusinessUnit.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/BusinessUnits/ServiceBusinessUnitWeb.svc/api/businessunits" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.Driver.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Users/Drivers/ServiceDriverWeb.svc/api/drivers" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.Vehicle.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/Vehicles/ServiceVehicleWeb.svc/api/vehicles" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="CoreDomain.MaterialType.Url" value="http://erp.pedretti.fr/CoreDomain.WebServices/API/MaterialTypes/ServiceMaterialTypeWeb.svc/api/materialtypes" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>