<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="AnomalyTrackingDbEntities" 
			 connectionString="metadata=res://*/AnomalyTracking.csdl|res://*/AnomalyTracking.ssdl|res://*/AnomalyTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\ANOMALYTRACKING;initial catalog=AnomalyTrackingDb;persist security info=True;user id=sa;password=aaaaaa;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
			 providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="sender.email" value="contact@dtek.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>