<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="AnomalyTrackingDbEntities" connectionString="metadata=res://*/AnomalyTracking.csdl|res://*/AnomalyTracking.ssdl|res://*/AnomalyTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\ANOMALYTRACKING;initial catalog=AnomalyTrackingDb;persist security info=True;user id=sa;password=aaaaaa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="sender.email" value="" />
    <add key="sourcePath" value="" />
    <add key="destinationPath" value="" />
    <add key="webAppUrl" value="" />
    <add key="CoreDomain.EmailSender.Url" value="" />
    <add key="dateformat" value="dd/MM/yyyy" />
    <add key="datetimeformat" value="dd/MM/yyyy HH:mm" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="AnomalyTracking.WebServices.CORSPolicy.CORSEnablingBehavior, AnomalyTracking.WebServices, Version=0.0.0.1, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
				<crossOriginResourceSharingBehavior />
		</behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
        <service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Clients.ServiceClientWeb">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding"
          contract="AnomalyTracking.WebServices.API.Clients.IServiceClientWeb" />
      </service>
		
		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Molds.ServiceMoldWeb">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding"
          contract="AnomalyTracking.WebServices.API.Molds.IServiceMoldWeb" />
      </service>

		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.AnomalyDeclarations.ServiceAnomalyDeclarationWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.AnomalyDeclarations.IServiceAnomalyDeclarationWeb" />
		</service>

		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Anomalies.ServiceAnomalyWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.Anomalies.IServiceAnomalyWeb" />
		</service>
		
		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Processs.ServiceProcessWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.Processs.IServiceProcessWeb" />
		</service>

        <service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Users.ServiceUserWeb">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding"
          contract="AnomalyTracking.WebServices.API.Users.IServiceUserWeb" />
	  </service>
	
		<service name="AnomalyTracking.WebServices.API.Authentifications.ServiceAuthentificationWeb" behaviorConfiguration="serviceBehavior">
			<endpoint binding="webHttpBinding" contract="AnomalyTracking.WebServices.API.Authentifications.IServiceAuthentificationWeb" behaviorConfiguration="web">
			</endpoint>
		</service>
		
		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Cavities.ServiceCavityWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.Cavities.IServiceCavityWeb" />
		</service>

		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.Faces.ServiceFaceWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.Faces.IServiceFaceWeb" />
		</service>

		<service behaviorConfiguration="serviceBehavior" name="AnomalyTracking.WebServices.API.AnomalyTypes.ServiceAnomalyTypeWeb">
			<endpoint behaviorConfiguration="web" binding="webHttpBinding"
			  contract="AnomalyTracking.WebServices.API.AnomalyTypes.IServiceAnomalyTypeWeb" />
		</service>
    </services>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="500000000" transferMode="Streamed" maxBufferSize="500000000">
          <readerQuotas maxStringContentLength="500000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--         To browse web app root directory during debugging, set the value below to true.         Set to false before deployment to avoid disclosing web app folder information.          <modules runAllManagedModulesForAllRequests="true" />          <directoryBrowse enabled="true" />       -->
    <directoryBrowse enabled="true" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>