$font-size-medium: 0.8rem;
$font-size: 0.8rem;

@mixin flexCenter {
  display: flex;
  align-items: center;
}



.btn-icon {
  font-weight: bold;
}

.stepper {
  @include flexCenter();

  &__value {
    font-size: $font-size-medium;
  }

  &__btn {
    height: 24px;
    width: 24px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: $font-size;
  }
}
