.btn-close {
    color: red;
}

.delete-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 15px;
    width: 15px;   
}

.trigger {
    display: inline-block;
    cursor: pointer;
}

.mat-icon-size-18 {
    font-size: 18px;
    color: #E24D4D;
}