<div class="relative">
  <!-- <div class=" absolute bottom-0 right-0 "> -->

  <!-- <button  mat-dialog-close  class="text-white object-right-bottom bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium
        rounded-full text-sm px-5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 ">Done</button>
        </div> -->

  <h1 class="text-center">Select Face And Position!!</h1>
  <div class="relative grid gap-3 sm:grid-cols-2 lg:grid-cols-2">
    <div class="p-5 bg-white rounded shadow-sm">
      <div class="relative w-[300px] h-[300px] rounded-full">
        <img class="w-full h-full" src="./assets/images/Moussage.jpg" alt="" />
        <div class="absolute top-0 left-0 w-full h-full rounded-full">
          <mat-chip
            #c="matChip"
            (click)="toggleSelection(c)"
            class="flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-1/2 -translate-x-1/2"
            >12</mat-chip
          >
          <mat-chip
            #c2="matChip"
            (click)="toggleSelection(c2)"
            class="one flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >1</mat-chip
          >
          <mat-chip
            #c1="matChip"
            (click)="toggleSelection(c1)"
            class="elevn flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >11</mat-chip
          >
          <mat-chip
            #c3="matChip"
            (click)="toggleSelection(c3)"
            class="ten flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >10</mat-chip
          >
          <mat-chip
            #c4="matChip"
            (click)="toggleSelection(c4)"
            class="two flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >2</mat-chip
          >
          <mat-chip
            #c5="matChip"
            (click)="toggleSelection(c5)"
            class="foor flex item-center justify-center w-[30px] h-[30px] rounded-full absolute bottom-1/4"
            >4</mat-chip
          >
          <mat-chip
            #c6="matChip"
            (click)="toggleSelection(c6)"
            class="eight flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >8</mat-chip
          >
          <mat-chip
            #c7="matChip"
            (click)="toggleSelection(c7)"
            class="five flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-3/4"
            >5</mat-chip
          >

          <mat-chip
            #c8="matChip"
            (click)="toggleSelection(c8)"
            class="seven flex item-center justify-center w-[30px] h-[30px] rounded-full absolute right-3/4"
            >7</mat-chip
          >
          <mat-chip
            #c9="matChip"
            (click)="toggleSelection(c9)"
            class="three flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >3</mat-chip
          >
          <mat-chip
            #c10="matChip"
            (click)="toggleSelection(c10)"
            class="six flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-1/2 -translate-x-1/2"
          >
            6</mat-chip
          >
          <mat-chip
            #c11="matChip"
            (click)="toggleSelection(c11)"
            class="nine flex item-center justify-center w-[30px] h-[30px] rounded-full absolute  "
            >9</mat-chip
          >
        </div>
      </div>
    </div>
    <div class="p-5 bg-white rounded shadow-sm">
      <div class="relative w-[300px] h-[300px] rounded-full">
        <img class="w-full h-full" src="./assets/images/Moussage back.jpg" alt=""/>
        <div class="absolute top-0 left-0 w-full h-full rounded-full">
          <mat-chip
            #c12="matChip"
            (click)="toggleSelection(c12)"
            class="flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-1/2 -translate-x-1/2"
            >12</mat-chip
          >
          <mat-chip
            #c13="matChip"
            (click)="toggleSelection(c13)"
            class="one flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >11</mat-chip
          >
          <mat-chip
            #c14="matChip"
            (click)="toggleSelection(c14)"
            class="elevn flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >2</mat-chip
          >
          <mat-chip
            #c15="matChip"
            (click)="toggleSelection(c15)"
            class="ten flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >1</mat-chip
          >
          <mat-chip
            #c16="matChip"
            (click)="toggleSelection(c16)"
            class="two flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >10</mat-chip
          >
          <mat-chip
            #c17="matChip"
            (click)="toggleSelection(c17)"
            class="foor flex item-center justify-center w-[30px] h-[30px] rounded-full absolute bottom-1/4"
            >8</mat-chip
          >
          <mat-chip
            #c18="matChip"
            (click)="toggleSelection(c18)"
            class="eight flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >4</mat-chip
          >
          <mat-chip
            #c19="matChip"
            (click)="toggleSelection(c19)"
            class="five flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-3/4"
            >7</mat-chip
          >

          <mat-chip
            #c20="matChip"
            (click)="toggleSelection(c20)"
            class="seven flex item-center justify-center w-[30px] h-[30px] rounded-full absolute right-3/4"
            >5</mat-chip
          >
          <mat-chip
            #c21="matChip"
            (click)="toggleSelection(c21)"
            class="three flex item-center justify-center w-[30px] h-[30px] rounded-full absolute "
            >9</mat-chip
          >
          <mat-chip
            #c22="matChip"
            (click)="toggleSelection(c22)"
            class="six flex item-center justify-center w-[30px] h-[30px] rounded-full absolute left-1/2 -translate-x-1/2"
          >
            6</mat-chip
          >
          <mat-chip
            #c23="matChip"
            (click)="toggleSelection(c23)"
            class="nine flex item-center justify-center w-[30px] h-[30px] rounded-full absolute  "
            >3</mat-chip
          >
        </div>
      </div>
    </div>



  </div>
  <div mat-dialog-action [align]="'end'">
    <button
    mat-dialog-close
    class="mt-1 bg-emerald-400 mat-elevation-z4 object-right-bottom  hover:bg-emerald-500"
  style="  border-radius: 25px; "
      mat-raised-button
      
    >
      save
    </button>
  </div>

</div>
