.mat-chip{
    background-color: #e3f2fd;
}

.one {
  top: 19px;
  left: calc(100% - 23px);
  transform: translateX(-104px) !important;
}
.nine {
    
  top: 90px;
  transform: translate(-30px, 7px) !important;
}
.three {
    
  top: 90px;
  transform: translate(-2px, 37px) !important;
}
.five{
  top: 250px;
  transform: translate(-226px, -7px) !important;
}
.seven{
  top: 250px;
  transform: translate(47px, -7px) !important;
}
.elevn {
  top: 60px;
  transform: translate(-40px, 7px) !important;
}
.two {
  top: 60px;
  left: calc(100% - 71px);
  transform: translateX(-100px) !important;
}
.foor {
  top: 198px;
  left: calc(100% - 15px);
  transform: translateX(-182px) !important;
  
}
.eight {
  top: 198px;
  right: calc(100% - 15px);
  transform: translateX(122px) !important;
  
}
.ten {
  top: 19px;
  right: calc(100% - 71px);
  transform: translateX(206px) !important;
}
.six{
      top: 225px;
      transform: translate(-15px, 7px) !important;
    }